:root { 
--gray_600:#6d6d6d; 
--deep_orange_50:#fce6e4; 
--gray_400:#b1b1b1; 
--blue_gray_100:#d5d5d5; 
--red_700:#dc1e35; 
--gray_800:#464646; 
--blue_A700:#0066ff; 
--gray_900:#111111; 
--gray_900_01:#202020; 
--gray_800_59:#46464659; 
--green_800:#2d7b43; 
--gray_200:#ece6e6; 
--blue_gray_800_01:#324242; 
--gray_100:#f5f5f5; 
--black_900:#000000; 
--white_A700_01:#fdfdfd; 
--blue_gray_800:#2c4452; 
--cyan_800:#0a7597; 
--white_A700:#ffffff; 
}